* {
  margin: 0px;
  padding: 0px;
}

.chat {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: red;
  padding: 4px;
  border-radius: 200px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #2d2525;
}
.chat>p {
  padding: 15px 0px;
  color: #fff;
  font-weight: sans serif;
}


.chatArea {
  /* display: none; */
  position: absolute;
  bottom: 4px;
  right: 4px;
  height: 80%;
  width: 30%;
  background-color: #9a9;
  border-radius: 5px;
  overflow-y: scroll;
}

.closeX:hover {
  font-size: 2.3em;
  font-weight: bold;
  cursor:default;
}

.closeX {
  position: relative;
  float: right;
  right: 2px;
  top: 0px;
  font-size: 2em;
  padding: 3px;
}

.mytext {
  background-color: #123;
  color: #fff;
  padding: 7px;
  width: 90%;
  float: right;
  margin-top: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.thetext {
  background-color: #432;
  color: #fff;
  padding: 7px;
  width: 90%;
  float: left;
  margin-top: 10px;
  border-radius: 5px;
  margin-left: 5px;
}

.chatform {
  margin: 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
